//header
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $primaryDarkColor;
  position: sticky;
  top: 0;
  z-index: 100;
  //logo
  &-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }

  &-search {
    display: flex;
    //strech as big as it can go
    flex: 1;
    align-items: center;
    border-radius: 24px;
    //input
    &-input {
      height: 12px;
      padding: 10px;
      border: none;
      width: 100%;
    }
    //search-icon
    &-icon {
      cursor: pointer;
      padding: 5px;
      height: 22px !important;
      background-color: $primaryBrightColor;
    }
  }
  //nav
  &-nav {
    display: flex;
    justify-content: space-evenly;
    //nav options
    &-option {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      color: #fff;
      cursor: pointer;

      @include mainTransition;

      &:hover {
        color: $primaryBrightColor;
        transform: scale(1.05) translateY(-10%);
        @include mainTransition;
      }

      //nav option 1
      &-lineOne {
        font-size: 10px;
      }

      //nav option 1
      &-lineTwo {
        font-size: 13px;
        font-weight: 800;
      }
    }

    //basket wrapper
    &-basket {
      display: flex;
      align-items: center;
      color: #fff;
      @include mainTransition;

      &:hover {
        color: $primaryBrightColor;
        @include mainTransition;
      }

      //basketcount
      &-count {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
